html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#map_canvas {
  height: 90%;
    }
/*#info_panel {
      height: 100% !important;
      width:100% !important;
      background: #ff0000 !important;
      margin: 0;
      padding: 0;
        }*/
span#infoText{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    /*font-family: 'Droid Sans', sans-serif;*/
    font-family: 'Candal', sans-serif;
    font-size: 30px;
    margin-top: 1%
}

#infoPanel{
  height:100%;
  background:#ffffff;
}


    @-moz-keyframes pulsate {
      from {
          -moz-transform: scale(0.25);
          opacity: 1.0;
      }
      95% {
          -moz-transform: scale(1.3);
          opacity: 0;
      }
      to {
          -moz-transform: scale(0.3);
          opacity: 0;
      }
  }
  @-webkit-keyframes pulsate {
      from {
          -webkit-transform: scale(0.25);
          opacity: 1.0;
      }
      95% {
          -webkit-transform: scale(1.3);
          opacity: 0;
      }
      to {
          -webkit-transform: scale(0.3);
          opacity: 0;
      }
  }
  /* get the container that's just outside the marker image,
      which just happens to have our Marker title in it */
  #map_canvas div.gmnoprint[title="lived"]{
      -moz-animation: pulsate 3s ease-in-out infinite;
      -webkit-animation: pulsate 3s ease-in-out infinite;
      border:1pt solid #fff;
      /* make a circle */
      -moz-border-radius:51px;
      -webkit-border-radius:51px;
      border-radius:51px;
      /* multiply the shadows, inside and outside the circle */
      /*Next 3 lines Decide the color of the pulse*/
      -moz-box-shadow:inset 0 0 5px #4346c0, inset 0 0 5px #4346c0, inset 0 0 5px #4346c0, 0 0 5px #4346c0, 0 0 5px #4346c0, 0 0 5px #4346c0;
      -webkit-box-shadow:inset 0 0 5px #4346c0, inset 0 0 5px #4346c0, inset 0 0 5px #4346c0, 0 0 5px #4346c0, 0 0 5px #4346c0, 0 0 5px #4346c0;
      box-shadow:inset 0 0 5px #4346c0, inset 0 0 5px #4346c0, inset 0 0 5px #4346c0, 0 0 5px #4346c0, 0 0 5px #4346c0, 0 0 5px #4346c0;
      /* set the ring's new dimension and re-center it */
      height:24px!important;
      margin:-10px 0 0 -10px;
      width:24px!important;
  }

  /* get the container that's just outside the marker image,
      which just happens to have our Marker title in it */
  #map_canvas div.gmnoprint[title="travelled"]{
      -moz-animation: pulsate 3s ease-in-out infinite;
      -webkit-animation: pulsate 3s ease-in-out infinite;
      border:1pt solid #fff;
      /* make a circle */
      -moz-border-radius:51px;
      -webkit-border-radius:51px;
      border-radius:51px;
      /* multiply the shadows, inside and outside the circle */
      /*Next 3 lines Decide the color of the pulse*/
      -moz-box-shadow:inset 0 0 5px #10955e, inset 0 0 5px #10955e, inset 0 0 5px #10955e, 0 0 5px #10955e, 0 0 5px #10955e, 0 0 5px #10955e;
      -webkit-box-shadow:inset 0 0 5px #10955e, inset 0 0 5px #10955e, inset 0 0 5px #10955e, 0 0 5px #10955e, 0 0 5px #10955e, 0 0 5px #10955e;
      box-shadow:inset 0 0 5px #10955e, inset 0 0 5px #10955e, inset 0 0 5px #10955e, 0 0 5px #10955e, 0 0 5px #10955e, 0 0 5px #10955e;
      /* set the ring's new dimension and re-center it */
      height:24px!important;
      margin:-10px 0 0 -10px;
      width:24px!important;
  }


  /* hide the superfluous marker image since it would expand and shrink with its containing element */
  /*  #map_canvas div[style*="987654"][title] img {*/
      #map_canvas div.gmnoprint[title="lived"] img {
          display:none;
      }
      #map_canvas div.gmnoprint[title="travelled"] img {
          display:none;
      }
      /* compensate for iPhone and Android devices with high DPI, add iPad media query */
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
          #map_canvas div.gmnoprint {
              margin:-10px 0 0 -10px;
          }
      }
