html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#map_canvas {
        height: 100%;
    }

    @-moz-keyframes pulsate {
      from {
          -moz-transform: scale(0.25);
          opacity: 1.0;
      }
      95% {
          -moz-transform: scale(1.3);
          opacity: 0;
      }
      to {
          -moz-transform: scale(0.3);
          opacity: 0;
      }
  }
  @-webkit-keyframes pulsate {
      from {
          -webkit-transform: scale(0.25);
          opacity: 1.0;
      }
      95% {
          -webkit-transform: scale(1.3);
          opacity: 0;
      }
      to {
          -webkit-transform: scale(0.3);
          opacity: 0;
      }
  }
  /* get the container that's just outside the marker image,
      which just happens to have our Marker title in it */
  #map_canvas div.gmnoprint[title="lived"]{
      -moz-animation: pulsate 2s ease-in-out infinite;
      -webkit-animation: pulsate 2s ease-in-out infinite;
      border:1pt solid #fff;
      /* make a circle */
      -moz-border-radius:51px;
      -webkit-border-radius:51px;
      border-radius:51px;
      /* multiply the shadows, inside and outside the circle */
      /*Next 3 lines Decide the color of the pulse*/
      -moz-box-shadow:inset 0 0 5px #512DA8, inset 0 0 5px #512DA8, inset 0 0 5px #512DA8, 0 0 5px #512DA8, 0 0 5px #512DA8, 0 0 5px #512DA8;
      -webkit-box-shadow:inset 0 0 5px #512DA8, inset 0 0 5px #512DA8, inset 0 0 5px #512DA8, 0 0 5px #512DA8, 0 0 5px #512DA8, 0 0 5px #512DA8;
      box-shadow:inset 0 0 5px #512DA8, inset 0 0 5px #512DA8, inset 0 0 5px #512DA8, 0 0 5px #512DA8, 0 0 5px #512DA8, 0 0 5px #512DA8;
      /* set the ring's new dimension and re-center it */
      height:24px!important;
      margin:-10px 0 0 -10px;
      width:24px!important;
  }

  /* get the container that's just outside the marker image,
      which just happens to have our Marker title in it */
  #map_canvas div.gmnoprint[title="travelled"]{
      -moz-animation: pulsate 2s ease-in-out infinite;
      -webkit-animation: pulsate 2s ease-in-out infinite;
      border:1pt solid #fff;
      /* make a circle */
      -moz-border-radius:51px;
      -webkit-border-radius:51px;
      border-radius:51px;
      /* multiply the shadows, inside and outside the circle */
      /*Next 3 lines Decide the color of the pulse*/
      -moz-box-shadow:inset 0 0 5px #FFA000, inset 0 0 5px #FFA000, inset 0 0 5px #FFA000, 0 0 5px #FFA000, 0 0 5px #FFA000, 0 0 5px #FFA000;
      -webkit-box-shadow:inset 0 0 5px #FFA000, inset 0 0 5px #FFA000, inset 0 0 5px #FFA000, 0 0 5px #FFA000, 0 0 5px #FFA000, 0 0 5px #FFA000;
      box-shadow:inset 0 0 5px #FFA000, inset 0 0 5px #FFA000, inset 0 0 5px #FFA000, 0 0 5px #FFA000, 0 0 5px #FFA000, 0 0 5px #FFA000;
      /* set the ring's new dimension and re-center it */
      height:24px!important;
      margin:-10px 0 0 -10px;
      width:24px!important;
  }


  /* hide the superfluous marker image since it would expand and shrink with its containing element */
  /*  #map_canvas div[style*="987654"][title] img {*/
      #map_canvas div.gmnoprint[title="lived"] img {
          display:none;
      }
      #map_canvas div.gmnoprint[title="travelled"] img {
          display:none;
      }
      /* compensate for iPhone and Android devices with high DPI, add iPad media query */
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
          #map_canvas div.gmnoprint {
              margin:-10px 0 0 -10px;
          }
      }
